<h1>Welcome to Lilith's Book Of Shadows</h1>

Contained herein you will find much occult knowledge and data to satisfy any curiousity.

<% @spells.each do |spell| %>
<%= react_component("Spell", { title: spell.title, body: spell.body, uses: spell.spell_uses }, prerender: true) %>
<% end %>
